.links {
    margin-top: 1.5rem;
}

.link {
    margin-top: 1.5rem;
    margin: 0.7rem;
    color: white;
}

.footer-logo {
    width: 4rem;
    border-radius: 50%;
    padding: 5px;
}

.copyright {
    margin: 0.7rem;
    padding-bottom: 1rem;
}